{
  "plugins": ["prettier-plugin-tailwindcss"],

  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,

  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,

  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",

  "quoteProps": "as-needed",
  "endOfLine": "lf",

  "overrides": [
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
